<h2 align="center"> notes </h2>

<div class="coll3">
    <h3 align="center">graph</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/_notes/graph/mst.md" style="font-size:16px"> minimum spanning tree </a></li>
    </ul>
</div>

<div class="coll3">
    <h3 align="center">tensor</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/_notes/tensor/notation.md" style="font-size:16px"> notation </a></li>
    </ul>
</div>

<div class="coll3">
    <h3 align="center">numeric</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/_notes/numeric/multigrid.md" style="font-size:16px"> multigrid </a></li>
    </ul>
</div>

<!--
<div class="coll4">
    <h3 align="center">parallel</h3>
    <ul class="list-items">
    </ul>
</div>

<div class="coll4">
    <h3 align="center">category</h3>
    <ul class="list-items">
    </ul>
</div>

<div class="coll4">
    <h3 align="center">misc</h3>
    <ul class="list-items">
    </ul>
</div>
//-->

<div class="roww"> <!--begin the 1st row-->
{% for collection in site.collections %}

    <!--create categories-->
    {% assign categories = "" | split:"|" %}
    {% for doc in collection.docs %}
        {% if doc.category %}
            {% unless categories contains doc.category %}
                {% assign categories = categories | push: doc.category %}
            {% endunless %}
        {% endif %}
    {% endfor %}

    {% for category in categories %}

        {% if category != "blog" and category != "research"%}

            <div class="coll">
                <h3 align="center">{{ category | downcase }}</h3>

                {% assign category_docs = collection.docs | where: "category", category %}
                <ul class="list-items">
                {% for item in category_docs %}
                    {% if item.title %}
                        <li><a href="{{ site.baseurl }}{{item.url}}" style="font-size:16px"> {{ item.title | downcase }} </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
             </div>

        {% endif %}

        {% if category == "math" %}
            </div> <!--end the 1st row-->
            <div class="roww"> <!--begin the 2nd row-->
        {% endif %}

    {% endfor %}
{% endfor %}

<style>
.coll {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
}

.coll2 {
    float: left;
    width: 49.9%;
    padding-bottom: 50px;
}

.coll3 {
    float: left;
    width: 32.9%;
    padding-bottom: 50px;
}

.coll4 {
    float: left;
    width: 32.9%;
    padding-bottom: 50px;
}

.coll5 {
    float: left;
    width: 19.99%;
    padding-bottom: 50px;
}


/* Clear floats after the columns */
.roww:after {
    content: "";
    display: table;
    clear: both;
}
</style>
